.block4Div{
    background-color: #f1f1f1;
    min-height: 460px;
    
    width: 102%;
    margin-left: -15px;
}

.block4-container {
    gap: 11%;
    display: flex;
    padding: 10%;
  }
  
  @media (max-width: 991px) {
    .block4-container {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  
  .block4-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 39%;
    margin-left: 0px;
  }
  
  @media (max-width: 991px) {
    .block4-column {
      width: 100%;
    }
  }
  
  .block4-header {
    border-radius: 10px;
    background: linear-gradient(90deg, #f8b508 0%, #f6520e 100%);
    margin-top: 9px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.6px;
    justify-content: center;
    width: 100%;
    padding: 94px 58px 80px;
    font: 700 30px/39px 'Inter', sans-serif;
  }
  
  @media (max-width: 991px) {
    .block4-header {
      max-width: 100%;
      margin-top: 27px;
      padding: 0 20px;
    }
  }
  
  .block4-subheader {
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
  }
  
  .block4-column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 61%;
    margin-left: 20px;
  }
  
  @media (max-width: 991px) {
    .block4-column-2 {
      width: 100%;
    }
  }
  
  .block4-content {
    border-radius: 10px;
    box-shadow: 0px 4px 24px 7px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 16px;
    color: #646464;
    font-weight: 400;
    line-height: 27px;
    width: 100%;
    padding: 35px 53px 35px 21px;
  }
  
  @media (max-width: 991px) {
    .block4-content {
      max-width: 100%;
      margin-top: 18px;
      padding: 0 20px;
    }
  }
  
  .block4-text {
    font-family: 'Inter', sans-serif;
  }
  
  @media (max-width: 991px) {
    .block4-text {
      max-width: 100%;
    }
  }
  
  .block4-details {
    font-family: 'Inter', sans-serif;
    margin-top: 22px;
  }
  
  @media (max-width: 991px) {
    .block4-details {
      max-width: 100%;
    }
  }
  
  .block4-bold {
    font-weight: 700;
  }
  
  /* Responsive Design */

  @media (max-width: 767px) {
    .responsive-block4 {
      width: auto;
      margin-left: -4%;
      padding-left: 2%;
      min-height: auto !important;
    }
    
    .responsive-block4 .block4-container {
      margin-left: -2%;
      width: 280px;
      flex-direction: column !important;
      padding: 5% !important;
      gap: 0 !important;
      
    }
    
    .responsive-block4 .block4-column,
    .responsive-block4 .block4-column-2 {
      width: 100% !important;
      margin-left: 0 !important;
    }
    
    .responsive-block4 .block4-header {
      margin-top: 20px !important;
      padding: 20px !important;
      font-size: 24px !important;
    }
    
    .responsive-block4 .block4-content {
      margin-top: 20px !important;
      padding: 20px !important;
      font-size: 14px !important;
    }
    
    .responsive-block4 .block4-details {
      margin-top: 20px !important;
    }
  }
  