.block5Div{
    background-color: #F1F1F1;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
    align-items: center;
    width: 102%;
    margin-left: -15px;
}

.block5img{

    aspect-ratio: 0.92;
    object-fit: auto;
    object-position: center;
    width: 100%;
    max-width: 456px;
}
/* Responsive design */
@media (max-width: 767px) {
    .responsive-block5 {
      width: 100% !important;
      padding-top: 20px !important;
      margin-left: 0 !important;
      flex-direction: column !important;
      align-items: center !important;
    }
    .responsive-block5 .block5img {
      width: 70% !important;
      max-width: none !important;
    }
  }